@model online.Models.Shipper

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="padding-left:20px"> @ViewBag.Title </h2>

<body style="padding-left:20px">
    <h4 style="padding-left:20px"> Shipper </h4>
    <hr />
    <div class="w3-container" style="width:70%">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="w3-table-all w3-card-4">
                <tr>
                    <th>  <label asp-for="ShipperName" class="control-label"></label> </th>
                    <th> <input asp-for="ShipperName" class="form-control" />  </th>
                    <th> <span asp-validation-for="ShipperName" class="text-danger"></span> </th>
                </tr>

                <tr>
                    <th>  <label asp-for="Phone" class="control-label"></label> </th>
                    <th>  <input asp-for="Phone" class="form-control" /> </th>
                    <th>  <span asp-validation-for="Phone" class="text-danger"></span> </th>
                </tr>

                   <tr>
                    <th>  <label asp-for="Company" class="control-label"></label> </th>
                    <th> <input asp-for="Company" class="form-control" />  </th>
                    <th> <span asp-validation-for="Company" class="text-danger"></span> </th>
                </tr>

                <tr>
                    <th>  <label asp-for="ShipDate" class="control-label"></label> </th>
                    <th>  <input asp-for="ShipDate" class="form-control" /> </th>
                    <th>  <span asp-validation-for="ShipDate" class="text-danger"></span> </th>
                </tr>
            </table>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</body>
<br />
<div>
    <a style="padding-left:20px" asp-action="Index">Quay về</a>
</div>


