@model online.Models.Category

@{
    ViewData["Title"] = " Tạo mới danh mục ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="padding-left:20px">Tạo mới danh mục </h1>

<body>
    <div class="w3-container" >
         <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="w3-table-all w3-card-4">
            <tr>
                    <th> <label asp-for="CatName" class="control-label"></label> </th>
                    <th> <input asp-for="CatName" class="form-control" /> </th>
                    <th>  <span asp-validation-for="CatName" class="text-danger"></span></th>
            </tr>

            <tr>
                    <th>  <label asp-for="Description" class="control-label"></label> </th>
                    <th>  <input asp-for="Description" class="form-control" /> </th>
                    <th>  <span asp-validation-for="Description" class="text-danger"></span> </th>
            </tr>

            <tr>
                    <th>  <label asp-for="ParentId" class="control-label"></label> </th>
                    <th> <input asp-for="ParentId" class="form-control" />  </th>
                    <th> <span asp-validation-for="ParentId" class="text-danger"></span> </th>
            </tr>

                <tr>
                    <th>  <label asp-for="Levels" class="control-label"></label> </th>
                    <th> <input asp-for="Levels" class="form-control" />  </th>
                    <th> <span asp-validation-for="Levels" class="text-danger"></span> </th>
                </tr>
                <tr>
                    <th>  <label asp-for="Ordering" class="control-label"></label> </th>
                    <th> <input asp-for="Ordering" class="form-control" />  </th>
                    <th> <span asp-validation-for="Ordering" class="text-danger"></span> </th>
                </tr>

                <tr>
                    <th>Pulished</th>
                    <th>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                        </label>
                    </th>
                </tr>

                <tr>
                    <th>  <label asp-for="Thumb" class="control-label"></label> </th>
                    <th> <input asp-for="Thumb" class="form-control" />  </th>
                    <th> <span asp-validation-for="Thumb" class="text-danger"></span> </th>
                </tr>

                 <tr>
                    <th>  <label asp-for="Title" class="control-label"></label> </th>
                    <th> <input asp-for="Title" class="form-control" />  </th>
                    <th> <span asp-validation-for="Title" class="text-danger"></span> </th>
                </tr>

                <tr>
                    <th>  <label asp-for="Alias" class="control-label"></label> </th>
                    <th> <input asp-for="Alias" class="form-control" />  </th>
                    <th> <span asp-validation-for="Alias" class="text-danger"></span> </th>
                </tr>

               <tr>
                    <th>  <label asp-for="MetaDesc" class="control-label"></label> </th>
                    <th> <input asp-for="MetaDesc" class="form-control" />  </th>
                    <th> <span asp-validation-for="MetaDesc" class="text-danger"></span> </th>
                </tr>

                 <tr>
                    <th>  <label asp-for="MetaKey" class="control-label"></label> </th>
                    <th> <input asp-for="MetaKey" class="form-control" />  </th>
                    <th> <span asp-validation-for="MetaKey" class="text-danger"></span> </th>
                </tr>

                <tr>
                    <th>  <label asp-for="Cover" class="control-label"></label> </th>
                    <th> <input asp-for="Cover" class="form-control" />  </th>
                    <th> <span asp-validation-for="Cover" class="text-danger"></span> </th>
                </tr>

                 <tr>
                    <th>  <label asp-for="SchemaMarkup" class="control-label"></label> </th>
                    <th> <input asp-for="SchemaMarkup" class="form-control" />  </th>
                    <th> <span asp-validation-for="SchemaMarkup" class="text-danger"></span> </th>
                </tr>
            </table>
            <br />
             <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            </form>
    </div>
</body>
<br />
<div style="padding-left:20px">
    <a asp-action="Index" >Quay về</a>
</div>